language: node_js

node_js:
  - "stable"
  - "4"
  - "iojs"
  - "0.12"
  - "0.10"

before_install:
  - npm config set spin false --global

script:
  - npm run lint && npm run check && (if [[ "$TRAVIS_JOB_NUMBER" == *.1 ]]; then npm run cover:lcov; else npm run testonly; fi)

after_success:
  - if [[ "$TRAVIS_JOB_NUMBER" == *.1 ]]; then cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js; fi
